#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



body{
  background-color: #f0f0f0;
}

/* DIVIDER CSS */
.b-example-divider {
  height: 3rem;
  background-color: #333333;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
}

/* HEADER CSS */
.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* HERO CSS */
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.playerName {
  text-decoration: none;
}

/* CAP HERO */
.teamName {
  text-decoration: none;
}

/* Initially hide the abbreviated version */
.teamName.abbreviated {
  display: none;
}

/* Media query for screen width 1000px and below */
@media screen and (max-width: 1500px) {
  /* Hide the full name */
  .teamName.full {
      display: none;
  }
  /* Show the abbreviated name */
  .teamName.abbreviated {
      display: inline;
  }
}

/* SOCIAL HERO */

.custom-bg {
  background-color: #f0f0f0; /* Replace with your desired color */
}

/* RANGERS PAGE */

.noMargin {
  margin-bottom: 0;
}

.pickTraded {
  opacity: .4;
}

.redUFA {
  background-color: red;
  color: white !important;
  font-weight: bold !important;
  border-radius: 5px;
}

.blueRFA {
  background-color: rgb(0, 162, 255);
  color: white !important;
  font-weight: bold !important;
  border-radius: 5px;
}

.tableTitle {
  font-weight: bold !important;
}

.tableTop {
  background-color: #f0f0f0;
}
